.swiper-custom-bullet {
    height: 2px;
    width: 2px;
    background-color: white;
}

.swiper-custom-bullet.swiper-custom-bullet-active {
    height: 2px;
    width: 2px;
    background-color: orange;
}

.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100px;
    height: auto;
    object-fit: cover;
}